<h1>Creating database in SQLAlchemy</h1>
<h2>Report 3 </h2>
Jakub Jachowicz

I wasn't sure if we had to use the SQL database given in previous tasks, so I have created my own SQL server and used it to complete the task manually.

In [1]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base

db_string = "postgres://postgres:jakub_adb@localhost:5432/nyhotels"

db = create_engine(db_string)

Base = declarative_base()

I had to use database no.2, which represents data about some hotels in NY. I have designed the model of database as two tables:
 - hosts table;
 - hotles table;

Host is represented by his id, various hotels have the same host, so each element in hotels table has an element 'host_id', which corresponds to unique host.
I've created two classes:

In [2]:
from sqlalchemy import Column, Integer, BigInteger, String, Date, Float

In [3]:
class Host(Base):
    __tablename__ = 'hosts'
    host_id = Column(BigInteger, primary_key=True)
    host_name = Column(String(200))
    calculated_host_listing_count = Column(Integer)

    def __repr__(self):
        return "<hosts(id = '{0}', name = {1})>".format(self.host_id, self.host_name)

In [4]:
class Hotel(Base):
    __tablename__ = 'hotels'
    id = Column(BigInteger, primary_key = True)
    name = Column(String(200), nullable = False)
    host_id = Column(Integer,nullable = False)
    neighbourhood_group = Column(String(200), nullable = False)
    neighbourhood = Column(String(200), nullable = False)
    latitude = Column(Float)
    longitude = Column(Float)
    room_type = Column(String(200))
    price = Column(Integer, nullable = False)
    minimum_nights = Column(Integer, nullable = False)
    number_of_reviews = Column(Integer)
    last_review = Column(Date)
    reviews_per_month = Column(Float)
    availability_365  = Column(Integer)
    
    def __repr__(self):
        return "<hotels(id  = '{0}', name = {1}, neighbourhood = {2}, room_type = {3}, price = '{4}')>".format(self.id, self.name, self.neighbourhood, self.room_type, self.price)

I didn't use the foreign key to connect those two tables, but the tables are ready for this kind of connection in the future.

I've created the engine and made new session:

In [5]:
Base.metadata.create_all(db)

In [6]:
from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind = db)
session = Session()

I've imported data from given csv file into pandas dataframe and transformed into tables, which can be easily added to the session.

I had to process dataframe a little, for exmaple change few columns to different type (str), so later thay can be easily converted into type 'datetme'.

In [7]:
import pandas as pd

data = pd.read_csv('C:\Studia\S8\DA & ADb\Advanced Databases\LAB3\AB_NYC_2019.csv', index_col = 0)

data = data[~data['last_review'].isnull()]
data[['last_review']] = data[['last_review']].astype(str)
data[['reviews_per_month']] = data[['reviews_per_month']].astype(str)


data.head()

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
id,,,,,,,,,,,,,,,
2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.1,1,0
5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129

I've had to add the fragment below to replace type int_64 to int, which is acceptable in psycog2:

In [8]:
import numpy as np
import psycopg2
from psycopg2.extensions import register_adapter, AsIs
psycopg2.extensions.register_adapter(np.int64, psycopg2._psycopg.AsIs)

I was ready to drop duplicates in dataframe, so there wouldn't be any error about commiting the same host twice, but I've managed to avoid that using 'query' :

In [9]:
from sqlalchemy import MetaData, Table, select

metadata = MetaData()

hosts_table = Table('hosts', metadata, autoload = True, autoload_with = db)

stmt = select([hosts_table])

results = db.execute(stmt).fetchmany(size=10)
print(results)

[(23669201, 'Tasos', 1), (1101224, 'Teedo', 1), (2539, 'John', 6), (10593675, 'John', 6), (10160215, 'John', 6), (10267242, 'John', 6), (17263207, 'John', 6), (7937553, 'John', 6), (18393354, 'Jennifer', 2), (2595, 'Jennifer', 2)]

In [10]:
#data.drop_duplicates('host_id', keep = False, inplace = True)

data = data.sort_values(['host_id'])

for i in data.index:
    host = Host(host_id = i, host_name = data['host_name'][i],
               calculated_host_listing_count = data['calculated_host_listings_count'][i])
    
    #Checking, if id is already in database
    q = bool(session.query(hosts_table).filter(hosts_table.c.host_id == host.host_id).scalar() is not None)
    
    #If host isn't already in database, add it to the session and try to commit
    if not q:
        session.add(host)
        try:
            session.commit()
        except:
            session.rollback()
            print(q, host)
            raise

In [11]:
metadata = MetaData()

hotels_table = Table('hotels', metadata, autoload = True, autoload_with = db)

stmt = select([hotels_table])

results = db.execute(stmt).fetchmany(size=10)
print(results)

[(2539, 'Clean & quiet apt home by the park', 2787, 'Brooklyn', 'Kensington', 40.647490000000005, -73.97237, 'Private room', 149, 1, 9, datetime.date(2018, 10, 19), 0.21, 365), (2595, 'Skylit Midtown Castle', 2845, 'Manhattan', 'Midtown', 40.75362, -73.98376999999999, 'Entire home/apt', 225, 1, 45, datetime.date(2019, 5, 21), 0.38, 355)]

In [12]:
from datetime import datetime

data = data.sort_values(['id'])

for i in data.index:
    
    hotel = Hotel(id = i, name = data['name'][i], host_id = data['host_id'][i],
                  neighbourhood_group = data['neighbourhood_group'][i],
                  neighbourhood = data['neighbourhood'][i],
                  latitude = data['latitude'][i], longitude = data['longitude'][i],
                  room_type = data['room_type'][i], price = data['price'][i],
                  minimum_nights = data['minimum_nights'][i],
                  number_of_reviews = data['number_of_reviews'][i],
                  last_review = data['last_review'][i],# if data['last_review'][i] != 'NaN' else pd.NaT),
                  reviews_per_month = data['reviews_per_month'][i],
                  availability_365 = data['availability_365'][i])
    
    #Checking, if id is already in database
    q = bool(session.query(hotels_table).filter(hotels_table.c.id == hotel.id).scalar() is not None)
    #Checking, if host is already is hosts table
    h = bool(session.query(hosts_table).filter(hosts_table.c.host_id == hotel.host_id).scalar() is not None)
    
    #If hotel isn't already in database, and it's host is, add it to the session and try to commit
    if not (q or h):
        session.add(hotel)
        try:
            session.commit()
        except:
            session.rollback()
            print(q, hotel)
            raise

Let's see, if adding hotels worked:

In [13]:
metadata = MetaData()

hotels_table = Table('hotels', metadata, autoload = True, autoload_with = db)

stmt = select([hotels_table])

results = db.execute(stmt).fetchmany(size=10)
print(results)

[(2539, 'Clean & quiet apt home by the park', 2787, 'Brooklyn', 'Kensington', 40.647490000000005, -73.97237, 'Private room', 149, 1, 9, datetime.date(2018, 10, 19), 0.21, 365), (2595, 'Skylit Midtown Castle', 2845, 'Manhattan', 'Midtown', 40.75362, -73.98376999999999, 'Entire home/apt', 225, 1, 45, datetime.date(2019, 5, 21), 0.38, 355), (3831, 'Cozy Entire Floor of Brownstone', 4869, 'Brooklyn', 'Clinton Hill', 40.685140000000004, -73.95976, 'Entire home/apt', 89, 1, 270, datetime.date(2019, 7, 5), 4.64, 194), (5022, 'Entire Apt: Spacious Studio/Loft by central park', 7192, 'Manhattan', 'East Harlem', 40.79851, -73.94399, 'Entire home/apt', 80, 10, 9, datetime.date(2018, 11, 19), 0.1, 0), (5121, 'BlissArtsSpace!', 7356, 'Brooklyn', 'Bedford-Stuyvesant', 40.68688, -73.95596, 'Private room', 60, 45, 49, datetime.date(2017, 10, 5), 0.4, 0), (5178, "Large Furnished Room Near B'way ", 8967, 'Manhattan', "Hell's Kitchen", 40.76489, -73.98493, 'Private room', 79, 2, 430, datetime.date(2019, 6, 24), 3.47, 220), (5203, 'Cozy Clean Guest Room - Family Apt', 7490, 'Manhattan', 'Upper West Side', 40.80178, -73.96723, 'Private room', 79, 2, 118, datetime.date(2017, 7, 21), 0.99, 0), (5238, 'Cute & Cozy Lower East Side 1 bdrm', 7549, 'Manhattan', 'Chinatown', 40.713440000000006, -73.99037, 'Entire home/apt', 150, 1, 160, datetime.date(2019, 6, 9), 1.33, 188), (5295, 'Beautiful 1br on Upper West Side', 7702, 'Manhattan', 'Upper West Side', 40.80316, -73.96545, 'Entire home/apt', 135, 5, 53, datetime.date(2019, 6, 22), 0.43, 6), (5441, 'Central Manhattan/near Broadway', 7989, 'Manhattan', "Hell's Kitchen", 40.76076, -73.98867, 'Private room', 85, 2, 188, datetime.date(2019, 6, 23), 1.5, 39)]